<template name="navigation">
  <nav class="tab-bar" data-topbar="topbar">
    <section class="left-small">
      <a href="#" class="left-off-canvas-toggle menu-icon"><span></span></a>
    </section>

    <section class="middle tab-bar-section">
      <h1 class="logo">WeBet</h1>
    </section>

    <section class="right-small">
      {{> count }}
    </section>

  </nav>

  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      {{# if currentUser }}
        <li><label>Get Started</label></li>
        <li><a href="/bet">Create a Bet</a></li>
        <li><label>View Bets</label></li>
        <li><a href="/bets" class="open-button">Open Bets</a></li>
        <li><a href="/bets" class="pending-button">Bets in Progress</a></li>
        <li><a href="/bets" class="completed-button">Completed Bets</a></li>
        <li><label>{{ currentUser.username }}</label></li>
        <li><a href="{{ pathFor 'dashboard' }}">My Profile</a></li>
        <li><a href="{{ pathFor 'friendsList' }}">Friends List</a></li>
      {{ else }}
        <li><label>Welcome</label></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Login</a></li>
      {{/ if }}
    </ul>
  </aside>

  <aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label>Notifications</label></li>
      <button class="deleteAllNotifications">Clear All</button>
      {{> notifications }}
    </ul>
  </aside>

</template>