<template name="betsList">
  <h1>{{currentUser.username}}'s bets</h1><br>
  <div class="button-container">
    <button type="open" class="open-button">Open</button>
    <button type="button" class="pending-button">In Progress</button>
    <button type="button" class="completed-button">Completed</button>
  </div><br>
  <div class="open-bets">
    <h2>Open</h2><br>
    <ul>
      {{#each open_bets}}
        <li>{{> betItem}}</li><br>
      {{/each}}
    </ul>
  </div>
  <div class="pending-bets">
    <h2>In Progress</h2><br>
    <ul>
      {{#each pending_bets}}
        <li>{{> betItem}}</li><br>
      {{/each}}
    </ul>
  </div>
  <div class="completed-bets">
    <h2>Completed</h2><br>
    <ul>
      {{#each completed_bets}}
        <li>{{> betItem}}</li><br>
      {{/each}}
    </ul>
  </div>
</template>
