body {
  background-color: #ECECEC;
}

body, h1, h2, h3, h4, h5, li, p {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
}

.bet {
  width: 100%;
  background-color: #5F788B;
  padding: 1em 0.5em;
}

.bet-bg {
  background-color: #D0D0D0;
  margin-bottom: 1em;
}

.bet-bg-content {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 0.5em;
}

.bets-info {
  background-color: #472323;
  border-radius: 5px;
  padding: 0.5em 0;
}

.bets-info h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  margin: 0.5em 0;
  line-height: 1;
}

.bet-title {
  color: #fff;
}

.bets-completed {
  color: #646F81;
}

.bets-open {
  color: #F4AE17;
}

.bets-pending {
  color: #00C582;
}

.blue {
  color: #00E2FF
}

.button {
  background-color: #1691BA;
  border-color: #1691BA;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.button.green {
  background-color: #86CA3C;
  border-color: #86CA3C;
  color: #FFF;
}

.button.lime {
  background-color: #86CA3C;
  border-color: #86CA3C;
  color: #FFF;
}

.button.orange {
  background-color: #FA9B1C;
  border-color: #FA9B1C;
  color: #FFF;
}

.button.red{
  background-color: #EC3F3F;
  border-color: #EC3F3F;
  color: #fff;
}

.chat-bar {
  background-color: #000000;
}

.chat-bar h4 {
  color: #fff;
}

#chat-box {
  padding: 0 0.1em;
}

.chatbox-line {
  word-wrap: break-word;
  margin-bottom: 0;
}

#chat-entry {
  padding: 1em 0;
}

.chat-textarea {
  width: 100%;
}

.chat-username {
  color: #086AEC;
}

#chat-client {
  margin-bottom: 1em;
  background-color: #F5F5F5;
}

.complete_bet_button {
  margin-bottom: 1em;
}

.crazy-yellow {
  color: #EFFF00;
}

.create-bet {
  margin-top: 2em;
}

.create-bet h4 {
  color: #333;
}

.dark-blue {
  color: #086AEC;
}

.form-image {
  width: 85%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.form-image img {
  border-radius: 3px;
}

.friend {
  margin-left: 0.5em;
}

.gray {
  color: #646F81;
}

.login-link {
  color: #4EB3FF;
}

.logo {
  font-family: 'Lobster', cursive;
}

.logo-text {
  font-size: 3.5em;
  font-family: 'Lobster', cursive;
  color: #C6DFF2;
}

.long {
  padding: 1em 4em !important;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

.red {
  color: #EC3F3F;
}

.send-button {
  color: #fff;
  margin: 1em 0;
  float: right;
  margin-right: 0.5em;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
}

.small-icon {
  font-size: 0.75em;
}

.square {
  width: 5em;
  height: 5em;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.square h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.square.completed {
  background-color: #646F81;
}

.square.open {
  background-color: #F4AE17;
}

.square.pending {
  background-color: #00C582;
}

.status-bar {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.1em 0.5em;
}

.status-bar h4 {
  color: #fff;
}

.status-bar.open {
  background-color: #F4AE17;
}

.status-bar.pending {
  background-color: #00C582;
}

.status-bar.completed {
  background-color: #646F81;
}

.submit-button {
  margin-top: 1em;
}

.title-bar {
  background-color: #333;
  padding-left: 0.5em;
}

.title-bar h4 {
  color: #fff;
}

.teal {
  color: #74DBF4;
}

.username {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #333;
  overflow: hidden;
}

.stats {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.stats-container {
  margin-top: 1em;
}

.win-stats {
  padding-top: 1em;
  display: inline-block;
  height: 5em;
  width: 8.8em;
  margin-right: 0.2em;
  border-radius: 5px;
  background-color: #1F86AB;
  margin-bottom: 1.5em;
}

.lose-stats {
  padding-top: 1em;
  height: 5em;
  width: 8.8em;
  border-radius: 5px;
  background-color: #EC3F3F;
  margin-bottom: 1.5em;
  font-size: 1em;
  display: inline-block;
}

.small-block-grid-3 {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.status-title {

}

.bets-grid {
  margin-top: 1em;
}

.small-block-grid-3 li {
  padding-top: 0;
  padding-bottom: 0;
}

.bet-info-grid {
}

.welcome {
  margin-top: 35%;
}

.notification-count {
  text-align: center;
  vertical-align: center;
  position: relative;
}

.notification-number {
  color: #FCC900;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.notification-number:hover {
  color: #D8AF0D;
}

.accept_button {
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-bottom: 1em;
}

.edit_button {
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-bottom: 1em;
}

.remove_bet_button {
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-bottom: 1em;
}
