body {
  background-color: #294F6D;
}

body, h1, h2, h3, h4, h5, li, p {
  font-family: 'Noto Sans', sans-serif;
  color: #C6DFF2;
}

.bet-title {
  color: #F4FA1C;
}

.button {
  background-color: #00C0FF;
  border-color: #00C0FF;
  color: #fff;
}

.button.lime {
  background-color: #86CA3C;
  border-color: #86CA3C;
  color: #FFF;
}

.button.orange {
  background-color: #FA9B1C;
  border-color: #FA9B1C;
  color: #FFF;
}

.button.pink{
  background-color: #FF0061;
  border-color: #FF0061;
  color: #fff;
}

.create-bet {
  margin-top: 2em;
}

.login-link {
  color: #4EB3FF;
}

.logo {
  font-family: 'Lobster', cursive;
}

.logo-text {
  font-size: 3.5em;
  font-family: 'Lobster', cursive;
  color: #C6DFF2;
}

.long {
  padding: 1em 4em !important;
}

.lose-stats {
  height: 5em;
  border-radius: 5px;
  background-color: #4A6FFF;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

.square {
  width: 5em;
  height: 5em;
  border-radius: 5px;
  font-size: 1em;
  padding: 0px !important;
}

.square h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.square.completed {
  background-color: #FA4242;
}

.square.open {
  background-color: #00E2FF;
}

.square.pending {
  background-color: #E56F27;
}

.stats {
  padding: 0.5em 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.submit-button {
  margin-top: 1em;
}

.username {

}

.win-stats {
  height: 5em;
  border-radius: 5px;
  background-color: #25E888;
  margin-bottom: 1.5em;
}

.welcome {
  margin-top: 35%;
}
