body {
  background-color: #FDFEFF;
}

body, h1, h2, h3, h4, h5, li, p {
  font-family: 'Noto Sans', sans-serif;
  color: #C6DFF2;
}

.bets-grid {
  margin-top: 1em;
}

.bet-title {
  color: #F4FA1C;
}

.blue {
  color: #00E2FF
}

.button {
  background-color: #00C0FF;
  border-color: #00C0FF;
  color: #fff;
}

.button.lime {
  background-color: #86CA3C;
  border-color: #86CA3C;
  color: #FFF;
}

.button.orange {
  background-color: #FA9B1C;
  border-color: #FA9B1C;
  color: #FFF;
}

.button.pink{
  background-color: #FF0061;
  border-color: #FF0061;
  color: #fff;
}

.crazy-yellow {
  color: #EFFF00;
}

.create-bet {
  margin-top: 2em;
}

.login-link {
  color: #4EB3FF;
}

.logo {
  font-family: 'Lobster', cursive;
}

.logo-text {
  font-size: 3.5em;
  font-family: 'Lobster', cursive;
  color: #C6DFF2;
}

.long {
  padding: 1em 4em !important;
}

.lose-stats {
  height: 5em;
  border-radius: 5px;
  background-color: #EC3F3F;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

.small-icon {
  font-size: 0.75em;
}

.square {
  width: 5em;
  height: 5em;
  border-radius: 5px;
  font-size: 1em;
  padding: 0px !important;
}

.square h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.square.completed {
  background-color: #646F81;
}

.square.open {
  background-color: #FCC900;
}

.square.pending {
  background-color: #00C582;
}

.stats {
  padding: 0.5em 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #fff;
}

.submit-button {
  margin-top: 1em;
}

.username {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 1.5px;
  color: #333;
}

.win-stats {
  height: 5em;
  border-radius: 5px;
  background-color: #0EB2ED;
  margin-bottom: 1.5em;
}

.welcome {
  margin-top: 35%;
}

.notification-count {
  text-align: center;
  vertical-align: center;
  position: relative;
}

.notification-number {
  color: #FCC900;
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.notification-number:hover {
  color: #D8AF0D;
}
