<template name="createBetForm">
  <form class="create-bet small-12 columns">
    <h4 class="text-center">Your bet?</h4>
    <input type="text" name="betTitle" placeholder="I bet that...">
    <h4 class="text-center">The stakes?</h4>
    <input type="text" name="betWager" placeholder="Money? Loser dresses like a gorilla?">
    <h4 class="text-center">Against who?</h4>
    <input type="text" name="defender" value={{ defender_value }} placeholder="Your best friend? Your mother?">
    {{> _snapPhoto }}
    <input type="submit" class="submit-button expand radius button" value="Submit">
  </form>
</template>

