<template name="createBetForm">
  <div id="photo-container">
    {{#if photo}}
      <div>
        <img src={{image}} />
      </div>
    {{/if}}
    <button class="take-photo">Add Photo</button>
  </div>
  <form class="create-bet">
    <h4 class="text-center">Your bet?</h4>
    <input type="text" name="betTitle" placeholder="I bet that...">
    <h4 class="text-center">The stakes?</h4>
    <input type="text" name="betWager" placeholder="Money? Loser dresses like a gorilla?">
    <h4 class="text-center">Who will you challenge?</h4>
    <input type="text" name="defender" placeholder="Your best friend? Your mother?">
    <input type="submit" class="submit-button button expand" value="Submit">
  </form>
</template>

