<template name="betItem">
  <div class="bet">
    <div class="bet-content">
      <a href="{{pathFor 'singleBet'}}"><h2>{{title}} - {{wager}}</h2></a>
      <h3>Status: {{status}}</h3>
      <h3>Challenger: {{bettors.[0]}}</h3>
      <h3>Defender: {{bettors.[1]}}</h3>
      {{#if openStatus }}
      <button class="accept_button radius success">Accept</button>
      <button class="edit_button">Edit</button>
      <button class="remove_bet_button radius alert">Remove Bet</button>
      {{/if}}
       {{#if pendingStatus }}
      <button class="complete_bet_button radius success">Complete</button>
      {{/if}}
    </div>
    {{#if showEditForm}}
      {{> editBetForm}}
    {{/if}}
  </div>
</template>
