<template name="betItem">
  <div class="bet">
    <div class="bet-content">
      <a href="{{pathFor 'singleBet'}}"><h2><span class="bet-title">{{title}}</span> - Wager: {{wager}}</h2></a>
      {{#if openStatus }}
        <button class="accept_button button radius lime small">Accept</button>
        <button class="edit_button button radius orange small">Edit</button>
        <button class="remove_bet_button button radius pink small">Remove Bet</button>
      {{/if}}
      {{#if pendingStatus }}
        <button class="complete_bet_button button radius lime small">Complete</button>
      {{/if}}
    </div>
    {{#if showEditForm}}
      {{> editBetForm}}
    {{/if}}
  </div>
</template>
