<template name="singleBet">
  <div class="singlebet">
    <div class="bet-content">
      <h2>{{ title }} - {{ wager }}</h2>
      <h3>Status: {{ status }}</h3>
      <h3>Challenger: {{ bettors.[0] }}</h3>
      <h3>Defender: {{ bettors.[1] }}</h3>
      {{# if openStatus }}
        <button class="accept_button button radius small"><i class="fa fa-check-square-o"></i> Bring it on!</button>
        <button class="edit_button button radius orange small"><i class="fa fa-pencil-square-o"> Edit</i></button>
        <button class="remove_bet_button button radius red small"><i class="fa fa-ban"></i> Close</button>
      {{/ if}}
      {{# if pendingStatus }}
        <button class="complete_bet_button button radius small">Complete</button>
      {{/ if}}
    </div>
  </div>
  <div id="chat-client">
    {{> messages }}

    {{# if showEditForm }}
      {{> editBetForm }}
    {{/ if }}

    {{# if showCompleteBetForm }}
      {{> completeBetForm }}
    {{/ if }}
  </div>
</template>
