<template name="singleBet">
  <div class="singlebet small-12 columns">
    {{# if openStatus }}
      <div class="status-bar open"><h4 class="text-center">Status: {{ status }}</h4></div>
    {{/ if }}
    {{# if pendingStatus }}
      <div class="status-bar pending"><h4 class="text-center">Status: {{ status }}</h4></div>
    {{/ if }}
    {{# if completedStatus }}
      <div class="status-bar completed"><h4 class="text-center">Status: {{ status }}</h4></div>
    {{/ if }}
    <div class="bet-image">
      {{# with FS.GetFile 'images' image_id}}
        <img src="{{ this.url store='images' }}">
      {{/ with}}
    </div>
    <div class="bet-content">
      <div class="title-bar"><h4>The Bet</h4></div>
      <h4 class="bet-bg-content">{{ title }}</h4>
    </div>
    <div class="bet-content">

      <div class="title-bar"><h4>The Stakes</h4></div>
      <h4 class="bet-bg-content">{{ wager }}</h4>
    </div>
    <div class="bet-content">
      <div class="title-bar"><h4>Parties Involved</h4></div>
      <h4 class="bet-bg-content"><i class="fa fa-users"></i> {{ bettors.[0] }} <span class="versus-font">vs</span> {{ bettors.[1] }}</h4>
    </div>

    {{# if openStatus }}

      {{# if showCounterButton }}
        <button class="accept_button button small expand radius">Bring it on!</button>
        <button class="counter_bet_button button orange small radius"><i class="fa fa-pencil-square-o"></i> Counter Bet</button>
      {{else}}

        <button class="edit_button button green small radius"><i class="fa fa-pencil-square-o"></i> Edit Bet</button>

      {{/ if }}

      <button class="remove_bet_button button red small radius"><i class="fa fa-ban"></i> Close Bet</button>

    {{ / if }}


    {{# if pendingStatus }}
      <button class="complete_bet_button button expand radius">Select Winner</button>
    {{/ if }}

    {{# if completedStatus }}
      <button class="paid_bet_button button radius success expand">Paid</button>
    {{/ if }}

    {{# if showEditForm }}
      {{> editBetForm }}
    {{/ if }}

    {{# if showCompleteBetForm }}
      {{> completeBetForm }}
    {{/ if }}

    {{# if showCounterBetForm}}
      {{> counterBetForm}}
    {{ / if }}

    <div id="chat-client">
      <div class="chat-bar"><h4 class="text-center">Chatbox</h4></div>
      {{> messages }}
    </div>
  </div>
</template>
