<template name="singleBet">
  <div class="singlebet small-12 columns">
    <div class="bet-image">
      {{# with FS.GetFile 'images' image_id}}
        <img src="{{ this.url store='images' }}">
      {{/ with}}
    </div>
    <div class="bet-content">
      {{# if openStatus }}
        <div class="status-bar open"><h4 class="text-center">Status: {{ status }}</h4></div>
        <button class="accept_button button radius small"><i class="fa fa-check-square-o"></i> Bring it!</button>
        <button class="edit_button button radius green small"><i class="fa fa-pencil-square-o"> Edit</i></button>
        <button class="remove_bet_button button radius red small"><i class="fa fa-ban"></i> Close Bet</button>
      {{/ if}}
      {{# if pendingStatus }}
        <div class="status-bar pending"><h4 class="text-center">Status: {{ status }}</h4></div>
        <button class="complete_bet_button button radius expand">Complete</button>
      {{/ if}}
      {{# if completedStatus }}
        <div class="status-bar completed"><h4 class="text-center">Status: {{ status }}</h4></div>
      {{/ if}}
      <div class="bet-bg">
        {{# if showEditForm }}
          {{> editBetForm }}
        {{/ if }}

        {{# if showCompleteBetForm }}
          {{> completeBetForm }}
        {{/ if }}
        <div class="title-bar"><h4>The Bet</h4></div>
        <h4 class="bet-bg-content">{{ title }}</h4>
        <div class="title-bar"><h4>The Stakes</h4></div>
        <h4 class="bet-bg-content">{{ wager }}</h4>
        <div class="title-bar"><h4>Parties Involved</h4></div>
        <h4 class="bet-bg-content">Challenger: {{ bettors.[0] }} Defender: {{ bettors.[1] }}</h4>
      </div>
    </div>
    <div id="chat-client">
      <div class="chat-bar"><h4 class="text-center">Chatbox</h4></div>
      {{> messages }}
    </div>
  </div>
</template>
