<template name="_bets">
  <ul class="bets-grid small-block-grid-3 text-center">
    <li><a href="/bets" class="button square open"><h2>{{openBets.count}} <i class="small-icon fa fa-exclamation-circle"></i></h2></a></li>
    <li><a href="/bets" class="button square pending"><h2>{{pendingBets.count}} <i class="small-icon fa fa-cog"></i></h2></a></li>
    <li><a href="/bets" class="button square completed"><h2>{{completedBets.count}} <i class="small-icon fa fa-check-circle-o"></i></h2></a></li>
  </ul>
  <ul class="bets-info-grid small-block-grid-3 text-center">
    <li><div class="status-title"><h6 class="bets-open">Open</h6></div></li>
    <li><div class="status-title"><h6 class="bets-pending">Pending</h6></div></li>
    <li><div class="status-title"><h6 class="bets-completed">Complete</h6></div></li>
  </ul>
</template>
