<template name="dashboard">
  <div class="small-12 columns">
    <div class="dash-body">
      <span class="username text-center">{{ currentUser.username }}</span>
      <ul class="bets-grid small-block-grid-3 text-center">
        <li><a href="/bets" class="button square open"><h2>1 <i class="small-icon fa fa-exclamation-circle"></i></h2></a></li>
        <li><a href="/bets" class="button square pending"><h2>5 <i class="small-icon fa fa-cog"></i></h2></a></li>
        <li><a href="/bets" class="button square completed"><h2>99+ <i class="small-icon fa fa-check-circle-o"></i></h2></a></li>
      </ul>
      <div class="win-stats">
        <h1 class="stats text-center">WINS: 1024</h1>
      </div>
      <div class="lose-stats">
        <h1 class="stats text-center">LOSSES: 13</h1>
      </div>
    </div>
  </div>
</template>
